<mat-expansion-panel class="!rounded-none !bg-orange-300">
    <mat-expansion-panel-header>
      <mat-panel-title>
       Question
      </mat-panel-title>
      <mat-panel-description>
       Add New
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    <input class="ng-hide" id="input-file-id" multiple type="file" />
    <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>  
    <section>
        <div class="example-label">Add Options</div>
        <div class="example-button-row">
            <div class="example-button-container">
              <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                <mat-icon>plus_one</mat-icon>
              </button>
            </div>
        </div>
      </section>
     <section>

     </section> 
</mat-expansion-panel>