<div class="relative w-[320px] h-[320px] m-1 rounded-lg flex flex-col  outline-dotted outline-[#dadada] items-center cursor-pointer !bg-[#f5f5f5]" (click)="onclickProject()">
  <div class="flex-grow p-1  !text-[#797979] w-[80%] h-[80%]  overflow-hidden mt-2">
     <img src="{{image}}" alt="{{name}}"/>
  </div>
  <div class="!w-full text-center">
        <button  mat-button class="!w-full"  color="accent">
          <span class="uppercase font-extrabold h-auto !break-all m-2 line-clamp-1 overflow-hidden">{{name}}</span>
        </button>
  </div>
</div>

