/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~handsontable/dist/handsontable.full.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Handsontable css its not working if you put it component level*/

.ChangeRoleYes{
background-color: #ffff00 !important;
}

.ChangeRoleNo{
    background-color: #df0dbc !important;
}

.RipUser{
    background-color: red !important;
}


.my-custom-snackbar >  div * {
    background-color: #333333 !important; 
    color: #ff4081 !important; 
    font-weight: bolder !important;
}

.mdc-snackbar__actions:hover span{
    background-color: unset !important;
    border-radius: unset !important;
}
.mdc-snackbar__actions:hover .mat-mdc-focus-indicator{
 background-color: rgba(255, 64, 129, 0.0001) !important;
 border-radius: 0px !important;
}

.my-custom-snackbar > *{ 
padding-right: 0 !important;
}

.my-custom-snackbar2 >  div * {
    background-color: #333333 !important; 
    color: #3fff00 !important; 
    font-weight: bolder !important;
}

.my-custom-snackbar2 .mdc-snackbar__actions:hover span{
    background-color: unset !important;
    border-radius: unset !important;
}
.my-custom-snackbar2 .mdc-snackbar__actions:hover .mat-mdc-focus-indicator{
 background-color: rgba(63,255,0,.00001) !important;
 border-radius: 0px !important;
}

.my-custom-snackbar2 > *{ 
padding-right: 0 !important;
}