<div class="no-scrollbar-wrap">
   <mat-toolbar class="!rounded-none !bg-black !text-[#fffff]" id="toolbar">
        <div class="ProjectName">{{ProjectName}}</div>
        <button style="background-color:transparent; border-color:transparent;margin-left:1270px;" routerLink="/"> 
            <img src="../assets/cross.png" width="30" height="30"/>
        </button> 
    </mat-toolbar>

<section class="View_container grid-container bg-white-700 grid  grid-cols-[30%_70%] overflow-hidden" >
    <section class="QuestionView bg-white-400 pr-2 pl-2" style="margin-left: 20px;margin-top: 10px;">
        <div class="QuestionNumber" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: larger;font-weight:bold ;margin-top: 20px;margin-left: 30px;">
            {{list_of_question[currentQuestionIndex]?list_of_question[currentQuestionIndex].questionNumber:''}}
            {{list_of_question[currentQuestionIndex]?list_of_question[currentQuestionIndex].questionText:''}}
        </div>                
            <div class="graydiv">
                <img src="{{'data:image/png;base64,'+list_of_question[currentQuestionIndex]?.question}}" />
                <img src="../assets/happy.jpg" *ngIf="projectCompleted()" />
            </div>   
    </section>
    <div *ngIf="projectCompleted()" style="font-family: 'Trebuchet MS'; font-size: 50px;float: right;margin:150px;font-weight: bold;">PROJECT COMPLETED</div>
        <form class="h-full w-full" [formGroup]="Answer">
            <mat-radio-group aria-label="Select an option" formControlName="answerIndex"  (change)="onAnswerChange()">
            <div class="grid  grid-cols-[repeat(auto-fit,minmax(330px,1fr))] gap-4 m-3">     
                <div *ngFor="let option of list_of_question[currentQuestionIndex]?.options;index as i" class="h-[300px] w-[200px]">
                    <div class="graydiv">
                    <img src="{{'data:image/png;base64,'+option.answerImage}}" class="object-fill max-w-[100%] max-h-[90%] object-center" />
                    <mat-radio-button value="{{i}}">{{option.answer}}</mat-radio-button>
                </div>
                </div>
            </div>
        </mat-radio-group>
        </form>
    
</section>
<div style="padding-bottom: 10px;">
<mat-toolbar class="!rounded-none !bg-black !text-[#fffff]" id="toolbar">
    <section class="navigationContainer flex-grow-0 flex justify-between m-1 mb-2">
        <button mat-raised-button color="accent" type="button" (click)="moveToPrev()" style="margin-left:1250px;">
            <mat-icon aria-hidden="false" aria-label="PREV BUTTON" class="!m-0"
                fontIcon="keyboard_backspace"></mat-icon>
        </button>
        <button mat-raised-button color="warn" type="button" (click)="moveTONext()" style="margin-left:20px;">
            <mat-icon aria-hidden="false" aria-label="NEXT BUTTON" class="!m-0"
                fontIcon="arrow_right_alt"></mat-icon>
        </button>
    </section>
</mat-toolbar>
</div>
</div>


