<section class="navbar" #matNavbar>
  <mat-toolbar  class="navContainer fixed top-0 w-full flex justify-between">
    <div>
      <span class="text-xl">
        <a  [routerLink]="['/']">
          AMBA
        </a>
      </span>
    </div>
    <button *ngIf="admin" routerLink="/admin" style="padding-left: 1260px;">Admin</button>
    <div>
      <button mat-button class="no-hover-effect" [matMenuTriggerFor]="menu">
        <div class="IMGContainer rounded-full transition ease-in-out delay-150 hover:scale-110
     hover:!bg-gradient-to-r from-pink-500 to-pink-500 bg-opacity-100">
          <div class="h-8 w-8 rounded-full UserImg"></div>
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled *ngIf="name" class="truncate overflow-ellipsis">{{name}}</button>
        <button mat-menu-item  *ngIf="admin" routerLink="admin/report">Reports</button>
        <button mat-menu-item *ngIf="admin" routerLink="admin/managetool" >Manage roles</button>
        <button mat-menu-item (click)="LogIn()">Log In</button>
        <button mat-menu-item (click)="LogOut()">Log Out</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</section>